<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/e0679d8d-ad88-48b1-855e-f75bb3b4eace/resourceGroups/DefaultResourceGroup-WEU/providers/Microsoft.ContainerRegistry/registries/YouTubeBotHost20210601225329</ResourceId>
    <ResourceName>YouTubeBotHost20210601225329</ResourceName>
    <ResourceGroup>DefaultResourceGroup-WEU</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://youtubebothost20210601225329.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ea439595-c608-4105-a1e5-bb7a26715bd5</ProjectGuid>
  </PropertyGroup>
</Project>